body
  font-family: $body_font
  background-color: $bg_blue
  overflow-x: hidden

img
  width: 100%
  height: auto

#page
  > header
    position: fixed
    z-index: 100
    background-color: $bg_blue
    box-sizing: border-box
    width: 100%
    height: $header-height
    overflow: hidden
    padding: $margin
    line-height: $header-height - 2 * $margin

  > main
    flex-grow: 1
    margin-top: $header-height

  #sidebar-toggle
    display: none
    position: fixed
    top: 30px
    right: $margin
    z-index: 99999999
    color: $dim_blue
    @include icon-checkbox($brand_blue)

    @media #{$mobile-landscape}
      left: 15px
      top: 70px

  > aside
    position: fixed
    z-index: 200
    background-color: $bg_gray
    top: 0
    right: 0
    width: $sidebar-width
    height: 100vh
    overflow-y: auto

    &:before
      content: ""
      display: block
      position: fixed
      width: 100%
      height: 80px
      background: linear-gradient(to bottom, rgba($bg_gray, 1) 30%, rgba($bg_gray, 0) 100%)

  > footer
    padding: $margin
    background-color: $dark_gray

  display: flex
  flex-direction: column
  min-height: 100vh

  @media #{$mobile-portrait--mobile-landscape}
    > aside
      // Slide from the top, fill the entire screen
      background-color: rgba($bg_gray, .98)
      left: 0
      width: 100%
      top: -100vh
      transition: .5s top
    #sidebar-toggle
      display: block
      &:checked + aside
        top: 0

  @media #{$mobile-portrait}
    display: flex
    flex-direction: column
    min-height: 100vh

    > header
      position: static
      height: auto

    > main
      margin-top: 0


  @media #{$mobile-landscape}
    > main
      margin: 0 0 0 60px

    > header
      position: fixed
      top: 0
      left: 0
      width: 60px
      background-color: transparent

  @media #{$tablet}
    > aside
      // Slide from the right, fixed width, drop shadow
      background-color: rgba($bg_gray, .98)
      box-shadow: 0 0 40px rgba(black, .2)
      top: 0
      right: -$sidebar-width - 25px - 40px // Account for the shadow
      transition: .5s right
      width: $sidebar-width + 25px // Extra space for the top-right icon to close

    #sidebar-toggle
      display: block
      &:checked + aside
        right: 0

@media #{$desktop--desktop-wide}
  #page.has-sidebar
    margin-right: $sidebar-width
