#block-pba-menu
  ul
    list-style: none
    margin: 0
    padding: 0

  li
    display: inline-block

  a
    margin-right: $margin
    font-size: 23px
    font-family: $heading_font
    color: $dim_blue
    @include hover-color($brand_blue)
    &.is-active
      font-family: $heading_font_bold
      color: $brand_blue

    @media #{$mobile-portrait--mobile-landscape}
      display: none

    @media #{$mobile-portrait}
      &.is-active
        display: inline

  @media #{$mobile-portrait--mobile-landscape}
    #header-toggle:checked ~ header &
      li
        display: block
        text-align: center

      a
        display: block
        margin: 0 0 $margin
